{% extends "base.html" %}
{% from "_macros.html" import field %}
{% block title %}Change password{% endblock %}
{% block heading %}Account security{% endblock %}
{% block content %}
<div class="row"><div class="col-lg-6">
  <div class="card"><div class="card-body">
    <h5 class="mb-3">Change password</h5>
    <form method="post" novalidate>
      {{ form.hidden_tag() }}
      {{ field(form.current_password) }}
      {{ field(form.password) }}
      {{ field(form.confirm) }}
      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div></div>
</div></div>
{% endblock %}
